.input{
    background-color: rgba(24, 24, 24, 1);
    border: none;
    border-bottom: 1px solid #333333;
    font-family: "Source Sans 3", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 100%;
}

.input_title{
    font-size: 32px;
}
.invalid {
    border: 1px solid red;
    background-color: rgb(80, 24, 24)
}